.Board {
    margin: 0 auto;
    border-radius: 8px;
  }
  
  table tr:first-child td:first-child {
    border-radius: 8px 0 0 0 !important;
  }
  table tr:first-child td:last-child {
    border-radius: 0 8px 0 0 !important;
  }
  table tr:last-child td:first-child {
    border-radius: 0 0 0 8px !important;
  }
  table tr:last-child td:last-child {
    border-radius: 0 0 8px 0 !important;
  }
  
  .Board-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .neon-orange {
    font-family: neon;
    color: #aa168a;
    font-size: 75px;
    text-shadow: 0 0 3vw #cc409d;
  
    animation: neon-orange 1s ease infinite;
    -moz-animation: neon-orange 1s ease infinite;
    -webkit-animation: neon-orange 1s ease infinite;
  }
  
  .neon-blue {
    font-family: neon;
    color: #426dfb;
    font-size: 75px;
    text-shadow: 0 0 3vw #2356ff;
  
    animation: neon-blue 2s linear infinite;
    -moz-animation: neon-blue 2s linear infinite;
    -webkit-animation: neon-blue 2s linear infinite;
    -o-animation: neon-blue 2s linear infinite;
  }
  
  .winner .neon-blue,
  .winner .neon-orange {
    font-size: 100px;
  }